<h1>{{ title }}</h1>

<div class="container">
  <form>
    <!-- Añadir atributo name para que funcione. -->
    Numero 1: <input type="number"
      name="numero_1"
      [(ngModel)]="numero_1"
    >
    <br><br>
    <!-- Añadir atributo name para que funcione. -->
    Numero 2: <input type="number"
      name="numero_2"
      [(ngModel)]="numero_2">
    <br><br>
  
    <input type="submit" value="Sumar" (click)="sumar()">
    <input type="submit" value="Restar"
      class="btn btn-primary"
      (click)="restar()"
    >
  </form>
</div>

<p>Resultado: {{ resultado }}</p>
